<div nz-row>
  <div nz-col nzSpan="16">
    <h1>Home page Sittelle</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem, cum distinctio earum eligendi ex harum hic
      in inventore magni nihil numquam qui quos recusandae repellendus, rerum, velit voluptas voluptatem?</p>
  </div>
  <div nz-col nzSpan="8">
    <div nz-row nzType="flex" nzJustify="center" nzAlign="top" style="border: 1px solid #f0f2f5;box-shadow: 0 0 5px #d0d0d0;">
      <div nz-col nzSpan="20">
        <h2 style="margin: 15px;text-align: center;">Аутентификация</h2>
        <nz-divider></nz-divider>
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>
