<nz-tabset>
  <nz-tab nzTitle="О магазине">
    <app-card-view [data]="data" url="object"></app-card-view>
  </nz-tab>
<!--  <nz-tab nzTitle="Происшествия">-->
<!--    <ng-template nz-tab>-->
<!--      Красивые графики и отчеты-->
<!--    </ng-template>-->
<!--  </nz-tab>-->
<!--  <nz-tab nzTitle="Автоматическая пожарная сигнализация (АПС)">-->
<!--    <ng-template nz-tab>-->
<!--      <app-card-view [data]="afaData" url="afa"></app-card-view>-->
<!--    </ng-template>-->
<!--  </nz-tab>-->
</nz-tabset>
