<nz-table #basicTable [nzData]="listOfData" *ngIf="!param.id">
  <thead>
  <tr>
    <th>Ф.И.О.</th>
    <th>Должность</th>
    <th>Департамент</th>
    <th>Роль пользователя</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td><a routerLink="/user/{{ data.key }}">{{ data.name }}</a></td>
    <td>{{ data.position }}</td>
    <td>{{ data.department }}</td>
    <td>{{ data.role }}</td>
  </tr>
  </tbody>
</nz-table>

<div *ngIf="param.id">
  <app-card-view [data]="data" [breadcrumb]="breadcrumbData" url="user" *ngIf="!isEdit"></app-card-view>
  <app-card-edit *ngIf="isEdit" [data]="data2"></app-card-edit>
</div>
